.pagination {
	display: flex;
	height: 200px;
	justify-content: center;
	align-items: center;
}

.items,
.previous,
.next {
	margin-right: 30px;
	font-size: 30px;
	cursor: pointer;
}

.active {
	color: red;
}
